.arial {
	font-family: "Arial", sans-serif;
}
.bold {
	font-weight: bold;
}
.dates {
	font-style: italic;
	padding-left:4em;
	font-size: 14px;
}
#header-img {
	border-radius: 200px;
}
.column {
	float:left;
	width:45%;
}
.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.name {
	margin-top: 146px;
}
.navbar {
	height: 230px;
}

.navbar-brand {
	height: 230px;
}
.navbar-inverse {
	background: #000;
	border-color: #000;
	margin-bottom: 120px;
}

.navbar-nav {
	margin: -1px -16px;
	background: #312f2f;
}
.portfolio {
	background: #eae9e9;
}
.right {
	margin-left: 50px;
	
}
.right-heading {
	margin-top: 25px;
}
.tabbed {
	list-style-type: none;
}
.times {
	font-family: "Times New Roman", Times, serif;
}
.thumbnail {
	margin: 15px;
	padding: 0;
	border: 0;
}
.thumb-title {
	text-align: center;
}
.thumb-wrapper {
	text-decoration: none;
	color: #5a5d5f;
}
.thumb-wrapper:hover {
	text-decoration: none;
	background: #4e4e4e;
	color: white;
	opacity: 0.6;
    filter: alpha(opacity=60);
} 
@media (min-width: 546px){
	.right {
		margin-top: 113px;
	}
}
@media (min-width: 768px){
	.name { 
		margin-top: 0;
	 }
	.navbar {
		border-radius: 0;
	}
	.navbar-nav{
		background: #000;
		margin: 0;
	} 
	.navbar-invers {
		margin-bottom: 7.5px;
	}
	.navbar-right {
		padding-top: 90px;
	}
	.right {
			margin-left: 50px; 
	}
}