.about {
	margin-top: 20px;
}
.arial {
	font-family: "Arial", sans-serif;
}
.bold {
	font-weight: bold;
}
.dates {
	font-style: italic;
	padding-left:4em;
	font-size: 14px;
}
#header-img {
	border-radius: 200px;
}
.column {
	float:left;
	width:45%;
}
.description {
	margin-bottom: 15px;
	padding-left: 20px;
	width: 100%;
}
.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.large {
	max-width: 90%;
}

.navbar {
	height: 230px;
}

.navbar-brand {
	height: 230px;
}
.navbar-inverse {
	background: #000;
	border-color: #000;
	margin-bottom: 120px;
}

.navbar-nav {
	margin: -1px -16px;
	background: #312f2f;
}
.portfolio {
	background: #eae9e9;
}
.right {
	margin-left: 50px;
	
}
.right-column {
	margin-top: 140px;
	margin-left: 10px;
}
.right-heading {
	margin-top: 25px;
} 
.site-images { 
	width: 100%;
}
.tabbed {
	list-style-type: none;
}
.times {
	font-family: "Times New Roman", Times, serif;
}
.thumbnail {
	margin: 15px;
	padding: 0;
	border: 0;
}
.thumb-title {
	text-align: center;
}
.thumb-wrapper {
	text-decoration: none;
	color: #5a5d5f;
	margin: 0 5px;
	padding: 10px;
}
.thumb-wrapper:hover {
	text-decoration: none;
	background: #4e4e4e;
	color: white;
	opacity: 0.6;
    filter: alpha(opacity=60);
} 
.product-slider { padding: 45px; }

.product-slider #carousel { border: 4px solid #cecece; margin: 0; }

.product-slider #thumbcarousel { margin: 12px 0 0; padding: 0 45px; }

.product-slider #thumbcarousel .item { text-align: center; }

.product-slider #thumbcarousel .item .thumb { border: 4px solid #cecece; width: 20%; margin: 0 2%; display: inline-block; vertical-align: middle; cursor: pointer; max-width: 98px; }

.product-slider #thumbcarousel .item .thumb:hover { border-color: #1089c0; }

.product-slider .item img { width: 100%; height: auto; }

.carousel-control { color: #0284b8; text-align: center; text-shadow: none; font-size: 30px; width: 30px; height: 30px; line-height: 20px; top: 23%; }

.carousel-control:hover, .carousel-control:focus, .carousel-control:active { color: #333; }

.carousel-caption, .carousel-control .fa { font: normal normal normal 30px/26px FontAwesome; }
.carousel-control { background-color: rgba(0, 0, 0, 0); bottom: auto; font-size: 20px; left: 0; position: absolute; top: 30%; width: auto; }

.carousel-control.right, .carousel-control.left { background-color: rgba(0, 0, 0, 0); background-image: none; }

@media (max-width: 417px){
	.column {
		width: 95%;
	}
	.right-column {
		margin-top: 10px;
	}
}

@media (min-width: 550px){
	.right-column {
		margin-top: 100px;
	}
}
@media (min-width: 768px){
	.description {
		width: 50%;
		float: left;
	}
	.name { 
		margin-top: 0;
	 }
	.nav>li:hover {
		border-bottom:1px solid white;
	}
	.navbar {
		border-radius: 0;
	}
	.navbar-nav{
		background: #000;
		margin: 0;
	} 
	.navbar-inverse {
		margin-bottom: 7.5px;
	}
	.navbar-right {
		padding-top: 90px;
	}
	.right-column {
			margin-left: 50px; 
			margin-top: 84px;
	}
	.site-images {
		float: left;
		width: 50%;
	}
}

@media (min-width: 992px){
	.right-column {
		margin-top: 46px;
	}
}